<!-- Formulário de novo produto -->
<div *ngIf="productAction?.event?.action === addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!-- nome do produto -->
      <input pInputText placeholder="Nome" formControlName="name" />

      <!-- categoria do produto -->
      <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria"
        formControlName="category_id"
      ></p-dropdown>

      <!-- preço do produto -->
      <input pInputText placeholder="preço" formControlName="price" />

      <!-- descrição do produto -->
      <input pInputText placeholder="Descrição" formControlName="description" />

      <!-- quantidade do produto -->
      <input pInputText placeholder="Quantidade" formControlName="amount" />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center m-1"
      >
        <!-- botão de submit -->
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!-- Formulário de editar produto -->
<div *ngIf="productAction?.event?.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name" />
      <input pInputText placeholder="Preço" formControlName="price" />
      <input pInputText placeholder="Descrição" formControlName="description" />
      <input
        pInputText
        type="number"
        placeholder="Quantidade"
        formControlName="amount"
      />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>
